legacy-peer-deps=true
prefer-offline=true
fetch-retries=5
fetch-retry-mintimeout=15000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
registry=https://registry.npmjs.org/
maxsockets=15
fetch-retry-factor=2
audit-level=moderate
progress=false
fund=false
loglevel=error
timing=false
