# Dependencies
node_modules

# Build output
dist

# Development
*.log
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage
*.test.ts
__tests__

# Documentation
*.md
docs

# Git
.git
.gitignore
